@import url(reset.css);

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
}

/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
}

html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	font-family: 'Lato';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 1060px;
	margin: 0 auto;
}

/* header style start */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 56px;
}

.header__logo {}

.header__logo-link {}

.header__logo-pic {}

.header__nav {}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 82px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
	opacity: 0.75;
}

/* header style end */

/* intro style start */
.intro {
	min-height: 100vh;
	background: url(../img/intro-bg.jpeg) no-repeat center;
	background-size: cover;
	padding-top: 263px;
}

.intro__title {
	max-width: 619px;
	font-size: 50px;
	line-height: 60px;
	font-weight: 500;
	color: white;
	margin-bottom: 22px;
}

.intro__subtitle {
	max-width: 546px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: white;
	margin-bottom: 59px;
}

.searc-form__info {
	display: flex;
	flex-wrap: wrap;
}

.serch-form__field {
	width: 297px;
	background: transparent url(../img/svg/Oval.svg) no-repeat left 6px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin-right: 60px;
	padding-left: 43px;
	padding-bottom: 22px;
	font-weight: 500;
	font-size: 18px;
	color: white;

}

.serch-form__field::placeholder {
	font-weight: 500;
	font-size: 18px;
	color: white;
}

.search-form__submit {
	padding: 15px 39px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	color: white;
	background: #1B7DFF;
	border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit active {
	background: #0e66da;
}

/* intro style end */

/* benefits start */

.benefits {
	margin-bottom: 131px;
}

.benefits__wrap {
	max-width: 1262px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
	position: relative;
}

.benefits__title {
	width: 100%;
	font-size: 35px;
	font-weight: 500;
	line-height: 42px;
	padding: 93px 100px 88px 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: #fff;
}

.benefits__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 55px;
	padding: 0 100px;
}

.benefits__card {
	grid-column: span 1;
	margin-bottom: 112px;
}

.benefits__card-pic {
	max-width: 66px;
	margin-bottom: 37px;
}

.benefits__card-thumb {
	display: block;
}

.benefits__card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 26px;
}

.benefits__card-desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 39px;
}

.benefits__card-more {
	display: inline-block;
	padding-right: 59px;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	background: url(../img/svg/arrow-right.svg) no-repeat 95% center;
	transition: .2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
	background: url(../img/svg/arrow-right.svg) no-repeat right center;
}



/* benefits end */